img{
    height: 40px;
    width: 40px;
}
body{
    background-color: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

#li1{
    color: black;
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
    
}

#header1{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 30px;
    padding: 30px;
    align-items: center;
    background-color: white;
    border-radius: 0px
    
}

#a1{
    text-decoration: none;
    color: black;

}

#a2{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    background-color: black;
    padding: 4px 30px;
}





#li2{
    color: black;
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
   
    

}

#header2{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;
    background-color:white;
    border-radius: 0px;
    margin-top: 50px;
    
    
    
}
 
#a3{
    text-decoration: none;
    color: black;
    font-size: 20px;
   
}

#p1{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 4px 30px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    text-decoration: none;

}

#header3{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    border-radius: 0px;
}

#li3{
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    list-style: none;
    

}


#a5{
    color: black;
    text-decoration: none;
}

#a6{
    color: white;
    border-radius: 30px;
    background-color: black;
    padding: 4px 30px;
    text-decoration: none;
    
}